In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("/content/drive/MyDrive/Задание Excel-VBA 02.xlsx", sheet_name="Выгрузка 01",header=0, date_parser="дата"  )
df1

  ID записи       наименование       дата     сумма Ответственный
0        А1            Трактор 2020-01-01   6500000    нет данных
1        А3            Комбайн 2017-04-16  17000000        Петров
2        А2             Сеялка 2021-03-25   2000000        Иванов
3        А5      Линия розлива 2021-03-25  35000000       Сидоров
4        А6  Земельный участок 2021-03-25       100     проблемка
5       А10            Трактор 2022-08-09   1300000     проблемка
6        А7    Седельный тягач 2020-01-01   3400000        Петров
7        А4    Здание столовой 2020-01-01   5000000        Иванов
8        А8            Комбайн 2017-04-16   2000000       Сидоров
9        А9            Трактор 2022-08-09   1500000    нет данных

In [3]:
df2 = pd.read_excel("/content/drive/MyDrive/Задание Excel-VBA 02.xlsx", sheet_name="Выгрузка 02",header=0, date_parser="дата"  )
df2

  ID записи       наименование       дата      сумма Ответственный
0       А11            Корабль 2022-09-25  100000000    нет данных
1        А3            Комбайн 2017-04-16   17000000        Петров
2        А5      Линия розлива 2021-03-25   32000000       Сидоров
3        А9            Трактор 2022-08-09    1500000       Сидоров
4        А6  Земельный участок 2021-03-25        100     проблемка
5        А1            Трактор 2020-01-01    6500000     проблемка
6        А7    Седельный тягач 2020-01-01    3400000        Петров
7       А12             Корова 2022-09-25     500000    нет данных
8       А10            Трактор 2022-10-15    1300000    реализация
9        А4    Здание столовой 2020-01-01    5000000        Иванов

**Соединяем таблицы, что бы найти даные уникальные данные**

In [4]:
m = (df1.merge(df2, how='outer', on=['ID записи'], 
              suffixes=['', '_new'], indicator=True))
m

,ID записи,наименование,дата,сумма,Ответственный,наименование_new,дата_new,сумма_new,Ответственный_new,_merge
0,А1,Трактор,2020-01-01,6500000.0,нет данных,Трактор,2020-01-01,6500000.0,проблемка,both
1,А3,Комбайн,2017-04-16,17000000.0,Петров,Комбайн,2017-04-16,17000000.0,Петров,both
2,А2,Сеялка,2021-03-25,2000000.0,Иванов,NaN,NaT,NaN,NaN,left_only
3,А5,Линия розлива,2021-03-25,35000000.0,Сидоров,Линия розлива,2021-03-25,32000000.0,Сидоров,both
4,А6,Земельный участок,2021-03-25,100.0,проблемка,Земельный участок,2021-03-25,100.0,проблемка,both
5,А10,Трактор,2022-08-09,1300000.0,проблемка,Трактор,2022-10-15,1300000.0,реализация,both
6,А7,Седельный тягач,2020-01-01,3400000.0,Петров,Седельный тягач,2020-01-01,3400000.0,Петров,both
7,А4,Здание столовой,2020-01-01,5000000.0,Иванов,Здание столовой,2020-01-01,5000000.0,Иванов,both
8,А8,Комбайн,2017-04-16,2000000.0,Сидоров,NaN,NaT,NaN,NaN,left_only
9,А9,Трактор,2022-08-09,1500000.0,нет данных,Трактор,2022-08-09,1500000.0,Сидоров,both
10,А11,NaN,NaT,NaN,NaN,Корабль,2022-09-25,100000000.0,нет данных,right_only
11,А12,NaN,NaT,NaN,NaN,Корова,2022-09-25,500000.0,нет данных,right_only

**Новые данные в новой выгрузке**

In [5]:
new_data = m.query("_merge=='right_only'")
new_data

,ID записи,наименование,дата,сумма,Ответственный,наименование_new,дата_new,сумма_new,Ответственный_new,_merge
10,А11,NaN,NaT,NaN,NaN,Корабль,2022-09-25,100000000.0,нет данных,right_only
11,А12,NaN,NaT,NaN,NaN,Корова,2022-09-25,500000.0,нет данных,right_only

**Данные которые исчели из новой выгрузки**

In [6]:
missing_data = m.query("_merge=='left_only'")
missing_data

,ID записи,наименование,дата,сумма,Ответственный,наименование_new,дата_new,сумма_new,Ответственный_new,_merge
2,А2,Сеялка,2021-03-25,2000000.0,Иванов,NaN,NaT,NaN,NaN,left_only
8,А8,Комбайн,2017-04-16,2000000.0,Сидоров,NaN,NaT,NaN,NaN,left_only

**Данные записи которых имеют отличия в любых полях**

In [7]:
have_differences = df1.merge(df2, how='inner', on=['ID записи'], suffixes=['', '_new'])
have_differences

,ID записи,наименование,дата,сумма,Ответственный,наименование_new,дата_new,сумма_new,Ответственный_new
0,А1,Трактор,2020-01-01,6500000,нет данных,Трактор,2020-01-01,6500000,проблемка
1,А3,Комбайн,2017-04-16,17000000,Петров,Комбайн,2017-04-16,17000000,Петров
2,А5,Линия розлива,2021-03-25,35000000,Сидоров,Линия розлива,2021-03-25,32000000,Сидоров
3,А6,Земельный участок,2021-03-25,100,проблемка,Земельный участок,2021-03-25,100,проблемка
4,А10,Трактор,2022-08-09,1300000,проблемка,Трактор,2022-10-15,1300000,реализация
5,А7,Седельный тягач,2020-01-01,3400000,Петров,Седельный тягач,2020-01-01,3400000,Петров
6,А4,Здание столовой,2020-01-01,5000000,Иванов,Здание столовой,2020-01-01,5000000,Иванов
7,А9,Трактор,2022-08-09,1500000,нет данных,Трактор,2022-08-09,1500000,Сидоров

**Дописываем результат в анализируемый файл excel**

In [8]:
with pd.ExcelWriter('/content/drive/MyDrive/Задание Excel-VBA 02.xlsx',mode='a') as writer:  
    new_data.to_excel(writer, sheet_name='Новое в новой выгрузке', index=False)
    missing_data.to_excel(writer, sheet_name='Отсутсвует в новой выгрузке', index=False)
    have_differences.to_excel(writer, sheet_name='Записи с расхождениями', index=False)